/*.flex {
  display: flex;
  flex-wrap: wrap;
}*/

body {
	padding-top: 70px;
	background: #BBB09B;
}

.navbar {
	background: #3E2A35;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

#camera-icon {
	color: #E26D5A;
}

/*p {
	color:#3E2A35;;
}*/

.navbar-inverse .navbar-brand {
	color: white;
}

#pic-icon {
	color: #E26D5A;
}