body {
	padding-top: 70px;
	background: #BBB09B;
}

.navbar {
	background: #3E2A35;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

#camera-icon {
	color: #E26D5A;
}

.navbar-inverse .navbar-brand {
	color: white;
}

#pic-icon {
	color: #E26D5A;
}

strong {
	color: #3E2A35;
}